{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://servicecatalog.amazonaws.com/"
        },
        {
            "url": "http://servicecatalog.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Service Catalog</fullname> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> enables organizations to create and manage catalogs of IT services that are approved for use on AWS. To get the most out of this documentation, you should be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Service Catalog",
        "version": "2015-12-10",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/servicecatalog-2015-12-10.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "servicecatalog"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/servicecatalog/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Accepts an offer to share the specified portfolio.",
                "operationId": "AcceptPortfolioShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "PortfolioId": {
                                        "description": "The portfolio identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "PortfolioShareType": {
                                        "description": "<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p> <ul> <li> <p> <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the master account of your organization.</p> </li> <li> <p> <code>IMPORTED</code> - Accept imported portfolios.</p> </li> <li> <p> <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p> </li> </ul> <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code> </p>",
                                        "enum": [
                                            "IMPORTED",
                                            "AWS_SERVICECATALOG",
                                            "AWS_ORGANIZATIONS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "PortfolioId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociatePrincipalWithPortfolio": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified principal ARN with the specified portfolio.",
                "operationId": "AssociatePrincipalWithPortfolio",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "PortfolioId": {
                                        "description": "The portfolio identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "PrincipalARN": {
                                        "description": "The ARN of the principal (IAM user, role, or group).",
                                        "maxLength": 1000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "PrincipalType": {
                                        "description": "The principal type. The supported value is <code>IAM</code>.",
                                        "enum": [
                                            "IAM"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "PortfolioId",
                                    "PrincipalARN",
                                    "PrincipalType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateProductWithPortfolio": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified product with the specified portfolio.",
                "operationId": "AssociateProductWithPortfolio",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "PortfolioId": {
                                        "description": "The portfolio identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "ProductId": {
                                        "description": "The product identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "SourcePortfolioId": {
                                        "description": "The identifier of the source portfolio.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ProductId",
                                    "PortfolioId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateServiceActionWithProvisioningArtifact": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates a self-service action with a provisioning artifact.",
                "operationId": "AssociateServiceActionWithProvisioningArtifact",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DuplicateResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "ProductId": {
                                        "description": "The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "ProvisioningArtifactId": {
                                        "description": "The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "ServiceActionId": {
                                        "description": "The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ProductId",
                                    "ProvisioningArtifactId",
                                    "ServiceActionId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateTagOptionWithResource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associate the specified TagOption with the specified portfolio or product.",
                "operationId": "AssociateTagOptionWithResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "TagOptionNotMigratedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DuplicateResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResourceId": {
                                        "description": "The resource identifier.",
                                        "type": "string"
                                    },
                                    "TagOptionId": {
                                        "description": "The TagOption identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResourceId",
                                    "TagOptionId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchAssociateServiceActionWithProvisioningArtifact": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates multiple self-service actions with provisioning artifacts.",
                "operationId": "BatchAssociateServiceActionWithProvisioningArtifact",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "FailedServiceActionAssociations": {
                                            "description": "An object that contains a list of errors, along with information to help you identify the self-service action.",
                                            "items": {
                                                "description": "An object containing information about the error, along with identifying information about the self-service action and its associations.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code. Valid values are listed below.",
                                                        "enum": [
                                                            "DUPLICATE_RESOURCE",
                                                            "INTERNAL_FAILURE",
                                                            "LIMIT_EXCEEDED",
                                                            "RESOURCE_NOT_FOUND",
                                                            "THROTTLING"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ProductId": {
                                                        "description": "The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    },
                                                    "ProvisioningArtifactId": {
                                                        "description": "The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    },
                                                    "ServiceActionId": {
                                                        "description": "The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "ServiceActionAssociations": {
                                        "description": "One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.",
                                        "items": {
                                            "description": "A self-service action association consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.",
                                            "properties": {
                                                "ProductId": {
                                                    "description": "The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "ProvisioningArtifactId": {
                                                    "description": "The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "ServiceActionId": {
                                                    "description": "The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "ServiceActionId",
                                                "ProductId",
                                                "ProvisioningArtifactId"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ServiceActionAssociations"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDisassociateServiceActionFromProvisioningArtifact": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Disassociates a batch of self-service actions from the specified provisioning artifact.",
                "operationId": "BatchDisassociateServiceActionFromProvisioningArtifact",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "FailedServiceActionAssociations": {
                                            "description": "An object that contains a list of errors, along with information to help you identify the self-service action.",
                                            "items": {
                                                "description": "An object containing information about the error, along with identifying information about the self-service action and its associations.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code. Valid values are listed below.",
                                                        "enum": [
                                                            "DUPLICATE_RESOURCE",
                                                            "INTERNAL_FAILURE",
                                                            "LIMIT_EXCEEDED",
                                                            "RESOURCE_NOT_FOUND",
                                                            "THROTTLING"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ProductId": {
                                                        "description": "The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    },
                                                    "ProvisioningArtifactId": {
                                                        "description": "The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    },
                                                    "ServiceActionId": {
                                                        "description": "The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "ServiceActionAssociations": {
                                        "description": "One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.",
                                        "items": {
                                            "description": "A self-service action association consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.",
                                            "properties": {
                                                "ProductId": {
                                                    "description": "The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "ProvisioningArtifactId": {
                                                    "description": "The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "ServiceActionId": {
                                                    "description": "The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "ServiceActionId",
                                                "ProductId",
                                                "ProvisioningArtifactId"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ServiceActionAssociations"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyProduct": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Copies the specified source product to the specified target product or a new product.</p> <p>You can copy a product to the same account or another account. You can copy a product to the same region or another region.</p> <p>This operation is performed asynchronously. To track the progress of the operation, use <a>DescribeCopyProductStatus</a>.</p>",
                "operationId": "CopyProduct",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CopyProductToken": {
                                            "description": "The token to use to track the progress of the operation.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^[a-zA-Z0-9_\\-]*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "CopyOptions": {
                                        "description": "The copy options. If the value is <code>CopyTags</code>, the tags from the source product are copied to the target product.",
                                        "items": {
                                            "enum": [
                                                "CopyTags"
                                            ],
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "IdempotencyToken": {
                                        "description": " A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request. ",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
                                        "type": "string"
                                    },
                                    "SourceProductArn": {
                                        "description": "The Amazon Resource Name (ARN) of the source product.",
                                        "maxLength": 1224,
                                        "minLength": 1,
                                        "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                                        "type": "string"
                                    },
                                    "SourceProvisioningArtifactIdentifiers": {
                                        "description": "The identifiers of the provisioning artifacts (also known as versions) of the product to copy. By default, all provisioning artifacts are copied.",
                                        "items": {
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "enum": [
                                                            "Id"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": "array"
                                    },
                                    "TargetProductId": {
                                        "description": "The identifier of the target product. By default, a new product is created.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "TargetProductName": {
                                        "description": "A name for the target product. The default is the name of the source product.",
                                        "maxLength": 8191,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceProductArn",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateConstraint": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a constraint.",
                "operationId": "CreateConstraint",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ConstraintDetail": {
                                            "description": "Information about the constraint.",
                                            "properties": {
                                                "ConstraintId": {
                                                    "description": "The identifier of the constraint.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the constraint.",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "Owner": {
                                                    "description": "The owner of the constraint.",
                                                    "pattern": "^[0-9]{12}$",
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "description": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p>STACKSET</p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>",
                                                    "maxLength": 1024,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "ConstraintParameters": {
                                            "description": "The constraint parameters.",
                                            "type": "string"
                                        },
                                        "Status": {
                                            "description": "The status of the current request.",
                                            "enum": [
                                                "AVAILABLE",
                                                "CREATING",
                                                "FAILED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DuplicateResourceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the constraint.",
                                        "maxLength": 2000,
                                        "type": "string"
                                    },
                                    "IdempotencyToken": {
                                        "description": "A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
                                        "type": "string"
                                    },
                                    "Parameters": {
                                        "description": "<p>The constraint parameters, in JSON format. The syntax depends on the constraint type as follows:</p> <dl> <dt>LAUNCH</dt> <dd> <p>Specify the <code>RoleArn</code> property as follows:</p> <p> <code>{\"RoleArn\" : \"arn:aws:iam::123456789012:role/LaunchRole\"}</code> </p> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>LAUNCH</code> constraint on a product and portfolio.</p> </dd> <dt>NOTIFICATION</dt> <dd> <p>Specify the <code>NotificationArns</code> property as follows:</p> <p> <code>{\"NotificationArns\" : [\"arn:aws:sns:us-east-1:123456789012:Topic\"]}</code> </p> </dd> <dt>STACKSET</dt> <dd> <p>Specify the <code>Parameters</code> property as follows:</p> <p> <code>{\"Version\": \"String\", \"Properties\": {\"AccountList\": [ \"String\" ], \"RegionList\": [ \"String\" ], \"AdminRole\": \"String\", \"ExecutionRole\": \"String\"}}</code> </p> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>STACKSET</code> constraint on a product and portfolio.</p> <p>Products with a <code>STACKSET</code> constraint will launch an AWS CloudFormation stack set.</p> </dd> <dt>TEMPLATE</dt> <dd> <p>Specify the <code>Rules</code> property. For more information, see <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template Constraint Rules</a>.</p> </dd> </dl>",
                                        "type": "string"
                                    },
                                    "PortfolioId": {
                                        "description": "The portfolio identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "ProductId": {
                                        "description": "The product identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "Type": {
                                        "description": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p> <code>STACKSET</code> </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "PortfolioId",
                                    "ProductId",
                                    "Parameters",
                                    "Type",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreatePortfolio": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a portfolio.",
                "operationId": "CreatePortfolio",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "PortfolioDetail": {
                                            "description": "Information about the portfolio.",
                                            "properties": {
                                                "ARN": {
                                                    "description": "The ARN assigned to the portfolio.",
                                                    "maxLength": 150,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreatedTime": {
                                                    "description": "The UTC time stamp of the creation time.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the portfolio.",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "DisplayName": {
                                                    "description": "The name to use for display purposes.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The portfolio identifier.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "^[a-zA-Z0-9_\\-]*",
                                                    "type": "string"
                                                },
                                                "ProviderName": {
                                                    "description": "The name of the portfolio provider.",
                                                    "maxLength": 50,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Tags": {
                                            "description": "Information about the tags associated with the portfolio.",
                                            "items": {
                                                "description": "Information about a tag. A tag is a key-value pair. Tags are propagated to the resources created when provisioning a product.",
                                                "properties": {
                                                    "Key": {
                                                        "description": "The tag key.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "description": "The value for this key.",
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Key",
                                                    "Value"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TagOptionNotMigratedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "The description of the portfolio.",
                                        "maxLength": 2000,
                                        "type": "string"
                                    },
                                    "DisplayName": {
                                        "description": "The name to use for display purposes.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "IdempotencyToken": {
                                        "description": "A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
                                        "type": "string"
                                    },
                                    "ProviderName": {
                                        "description": "The name of the portfolio provider.",
                                        "maxLength": 50,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "One or more tags.",
                                        "items": {
                                            "description": "Information about a tag. A tag is a key-value pair. Tags are propagated to the resources created when provisioning a product.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The tag key.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value for this key.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key",
                                                "Value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 20,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DisplayName",
                                    "ProviderName",
                                    "IdempotencyToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreatePortfolioShare": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Shares the specified portfolio with the specified account or organization node. Shares to an organization node can only be created by the master account of an Organization. AWSOrganizationsAccess must be enabled in order to create a portfolio share to an organization node.",
                "operationId": "CreatePortfolioShare",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "PortfolioShareToken": {
                                            "description": "The portfolio share unique identifier. This will only be returned if portfolio is shared to an organization node.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParametersException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationNotSupportedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AcceptLanguage": {
                                        "description": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "AccountId": {
                                        "description": "The AWS account ID. For example, <code>123456789012</code>.",
                                        "pattern": "^[0-9]{12}$",
                                        "type": "string"
                                    },
                                    "OrganizationNode": {
                                        "description": "The organization node to whom you are going to share. If <code>OrganizationNode</code> is passed in, <code>PortfolioShare</code> will be created for the node and its children (when applies), and a <code>PortfolioShareToken</code> will be returned in the output in order for the administrator to monitor the status of the <code>PortfolioShare</code> creation process.",
                                        "properties": {
                                            "Type": {
                                                "description": "The organization node type.",
                                                "enum": [
                                                    "ORGANIZATION",
                                                    "ORGANIZATIONAL_UNIT",
                                                    "ACCOUNT"
                                                ],
                                                "type": "string"
                                            },
                                            "Value": {
                                                "description": "The identifier of the organization node.",
                                                "pattern": "(^[0-9]{12}$)|(^arn:aws:organizations::\\d{12}:organization\\/o-[a-z0-9]{10,32})|(^o-[a-z0-9]{10,32}$)|(^arn:aws:organizations::\\d{12}:ou\\/o-[a-z0-9]{10,32}\\/ou-[0-9a-z]{4,32}-[0-9a-z]{8,32}$)|(^ou-[0-9a-z]{4,32}-[a-z0-9]{8,32}$)",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "PortfolioId": {
                                        "description": "The portfolio identifier.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9_\\-]*",
[...]
